  /*  *{
        border:1px solid red;
    }*/
.scan-containter{
    width: 100%;
}
.video-container{
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
}
#camera{
    width: 100%;
}

.info-container{
   text-align: center;
    font-size: 5em;
    padding: 50px;
}
.name{
    margin-bottom: 30px;
}
.talents{
    width: 60%;
    margin: 0 auto;
}

